<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </header>

  <body>

    <body align="center">
        <h1>Congrats! You have successfully difused the bomb!</h1>
      <div align="center" class="desc-text">
        <table style="width:70%">
          <tr>
            <td><p>Somebody wants to talk with you</p>
            </td>
          </tr>
        </table>
      </div>

      <div align="center">
        <video width="520" height="440"  controls>
          <source src="../videos/fbi_recruit.mp4" type="video/mp4">
        </video>
      </div>


        <button align="center"> <a href="scienceII.html" id="fbi-link">Continue?..</a></button>

    <script type="text/javascript">
    if( typeof localStorage.visited_bugs !== "undefined" ){
        $("#fbi-link").attr("href","haswon.html");
    } else {
        localStorage.setItem("visited_nuc_eng",true);
    }
    </script>
    </body>

    </html>
