<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
  </header>

  <body align="center">
    <h1>G3 - FHP Final Project </h1>
    <div align="center">
      <table style="width:70%">
        <tr>
          <td><p> Hi, we're G3. Our final project is a choose your own adventure video story. You should watch a video and then choose a particular action you want to take.</p>
          </td>
        </tr>
      </table>
    </div>

    <div align="center">
      <video width="520" height="440"  controls>
        <source src="../videos/walking_to_science.mp4" type="video/mp4">
      </video>
    </div>

    <p class="question" align="center">What is your choice?</p>

    <table style="width:100%">
      <tr>
        <td><button><a href="/nuc_eng.html">Go to Science II</a></button></td>
        <td><button><a href="/scienceII.html">Go to the Nuclear Engineering building</a></button></td>
      </tr>
    </table>

  </body>

</html>
