<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
  </header>


    <body align="center">
      <h1>You decided to use the duct tape.</h1>
      <div align="center" class="desc-text">
        <table style="width:70%">
          <tr>
            <td><p>Let's see if this works.</p>
            </td>
          </tr>
        </table>
      </div>

      <div align="center">
        <video width="520" height="440"  controls>
          <source src="../videos/nuc_eng_duct_tape.mp4" type="video/mp4">
        </video>
      </div>

      <table style="margin:auto;">
        <tr>
          <td align="center"><button><a href="fbi.html">Continue</a></button></td>
        </tr>
      </table>

    </body>

  </html>
