<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
  </header>


    <body align="center">
      <h1>You've made it to Nuclear Engineering.</h1>
      <div align="center">
        <table style="width:70%">
          <tr>
            <td><p>This is like the third creepiest builing on campus.</p>
            </td>
          </tr>
        </table>
      </div>

      <div align="center">
        <video width="520" height="440"  controls>
          <source src="../videos/entering_nuc_eng.mp4" type="video/mp4">
        </video>
      </div>

      <p class="question" align="center">What is your choice?</p>

      <table style="margin:auto;">
        <tr>
          <td align="center"><button><a href="nuc_eng_duct_tape.html">Use the Duct Tape and a Paperclip</a></button></td>
          <td align="center"><button><a href="nuc_eng_sliced.html">Cut the Wire</a></button></td>
        </tr>
      </table>

    </body>

  </html>
