<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
    <script src="../scripts/script.js"></script>
  </header>

  <body>

    <body align="center">
        <h1>You chose Bug Spray </h1>


      <div align="center" >
        <video width="520" height="440"  controls>
          <source src="../videos/bug_spray.mp4" type="video/mp4">
        </video>
      </div>


      <button align="center"> <a href="wasted_bugs.html">Click Here</a></button>





    </body>

    </html>
