<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../scripts/script.js"></script>

  </header>

  <body>

    <body align="center">
        <h1>Welcome to Science </h1>
      <div align="center">
        <table style="width:70%">
          <tr>
            <td><p>Science.</p>
            </td>
          </tr>
        </table>
      </div>

      <div align="center" >
        <video width="520" height="440"  id="video" controls>
          <source src="../videos/g3_bugs.mp4" type="video/mp4">
        </video>
        <img id="bugs-leaving" src="../images/bugs_leaving.png" alt="Bugs Leaving" style="max-width:70%; border:0;display:none;">
      </div>

      <input align="center" type='button' value='Done with the Video? Click here.' id="done" />


      <p class="question" align="center">What is your choice?</p>



      <table style="width:100%">
      <table style="margin:auto">
        <tr>
          <td align="center"><button><a href="bugs_spray.html">Use Bug Spray</a></button></td>

          <td align="center"><button><a href="run_away.html">Run Away</a></button></td>

        </tr>
      </table>


    </body>

    </html>
