<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
    <script src="../scripts/script.js"></script>
  </header>

  <body>

    <body align="center">
        <h1>Welcome to Science </h1>
      <div align="center">
        <table style="width:70%">
          <tr>
            <td><p>Science.</p>
            </td>
          </tr>
        </table>
      </div>

      <div align="center">
        <video width="520" height="440"  controls>
          <source src="../videos/FHP_G3_2015_bugs.mp4" type="video/mp4">
        </video>
      </div>


        <button align="center"> <a href="nuc_eng.html">Continue?..</a></button>


      <p class="question" align="center">What is your choice?</p>


      <table style="width:100%">
        <tr>
          <td align="center"><button><a href="nuc_eng.html">Use Bug Spray</a></button></td>

          <td align="center" id ="check"><button><a href="scienceII.html">Run Away</a></button></td>

        </tr>
      </table>
      </script>

    </body>

    </html>
