<!Doctype HTML>
<html>

  <header>
    <meta charset="UTF-8">
    <title>
      Choose Your Adventure
    </title>

    <link rel = "stylesheet" type = "text/css" href = "../CSS/style.css"></link>
  </header>


    <body align="center">
      <h1>You tripped the fuse.</h1>
      <div align="center" class="desc-text">
        <table style="width:70%">
          <tr>
            <td><p>So sad. Your adventure is over.</p>
            </td>
          </tr>
        </table>
      </div>

      <div align="center">
        <img src="../images/wasted_bomb.gif" style="width:50%;">
      </div>

      <table style="margin:auto;">
        <tr>
          <td align="center"><button><a href="index.html">Try again?</a></button></td>
        </tr>
      </table>

    </body>

  </html>
